<div class="col-md-3 text-center diagram-info">
  <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="Info info - lower case 'i'" class="info-icon" />
  <p>
    {{ 'behavioural_science.info'|trans }}
  </p>
  <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
    Explain Diagram
  </a>
</div>
<div class="col-md-6 triangle">
  <div class="diagram text-center">
    <div class="layout inline-block">
      <img src="{{ asset('/bundles/app/images/_Final layout.png') }}" alt="Behavioural Science Diagram Placeholder" class="invisible" />
      <div class="items">
        {% include 'frontend/diagrams/triangle/_outcome.html.twig' with {href: '#' } %} {#category_path('outcome', 'behavioural_science')#}
        {% include 'frontend/diagrams/triangle/_exposure.html.twig' with {href: '#' } %} {#category_path('exposure', 'behavioural_science')#}
        {% include 'frontend/diagrams/triangle/_context.html.twig' with {href: '#' } %} {#category_path('context', 'behavioural_science')#}
        {% include 'frontend/diagrams/triangle/_intervention.html.twig' with {href: '#' } %} {#category_path('intervention', 'behavioural_science')#}
        {% include 'frontend/diagrams/triangle/_mechanisms.html.twig' with {href: '#' } %} {#category_path('mechanisms', 'behavioural_science')#}
        {% include 'frontend/diagrams/triangle/_behaviour.html.twig' with {href: '#' } %} {#category_path('behaviour', 'behavioural_science')#}
      </div>
    </div>
  </div>
</div>
<div class="col-md-3 text-center diagram-explain">
  <div class="inline-block">
    <p>What to know more about this diagram?</p>
    <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
      Explain Diagram
    </a>
  </div>
</div>
