{% if resources|length %}
  {% set general = general|default(false) %}
  {% set id = 'collapse-category-' ~ category.id %}
  <section class="behaviour-category">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h4>{{ general ? 'General' : category.name }}</h4>
            {% if not general %}
              <a class="expander" role="button" data-toggle="collapse" href="#{{ id }}" aria-expanded="true" aria-controls="{{ id }}"></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="resources{{ not general ? ' collapse in' : '' }}" id="{{ id }}">
      {% include 'frontend/_resourceList.html.twig' with {minimal:true} %}
    </div>
  </section>
{% endif %}
