<section class="jumbotron {{ slug|default('') }}">
  {% if link is defined %}
    <a href="{{ link.href }}" class="jumbotron-link"><span>{{ link.text }}</span></a>
  {% endif %}
  <div class="jumbotron-valign">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 jumbotron-text">
          <h2 class="jumbotron-header">
            <span>{{ header }}</span>
            {% if icon %}
              <img class="jumbotron-icon hidden visible-sm visible-xs"
                   src="{{ asset(icon) }}"
                   alt="{{ icon_alt }}"
              />
            {% endif %}
          </h2>
          {% if text %}
          <p class="jumbotron-info">
            {{ text }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>