{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/home.style.css') }}" />
{% endblock %}
{% block body %}
  {% include 'frontend/_hero.html.twig' with {
    'icon': 'bundles/app/images/mob-home.png',
    'icon_alt': 'About the Human Behaviour Change Project',
    'header': 'About the Project'
  } %}

  <section class="block light block-feature text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-0">The Vision</h2>
          <p>Lipsum</p>
          <p>Text</p>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-0">How each discipline will work</h2>
          <p>Lipsum</p>
          <p>Text</p>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img src="{{ asset('bundles/app/images/homegraphic-bc.svg') }}" alt="Homegraphic Behavioural Science">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="mt-md-0">Behavioural Science</h2>
          <p>{{ 'home.behavioural_science'|trans }}</p>
          <a href="{{ category_path('behavioural science') }}" class="btn">Behavioural Science Resources</a>
        </div>
      </div>
    </div>
  </section>

  <section class="block light block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="{{ asset('bundles/app/images/homegraphic-cs.svg') }}" alt="Homegraphic Computer Science">
        </div>
        <div class="col-sm-6">
          <h2 class="mt-md-0">Computer Science</h2>
          <p>{{ 'home.computer_science'|trans }}</p>
          <a href="{{ category_path('computer science') }}" class="btn">Computer Science Resources</a>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img src="{{ asset('bundles/app/images/homegraphic-sa.svg') }}" alt="Homegraphic System Architecture">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="mt-md-0">System Architecture</h2>
          <p>{{ 'home.system_architecture'|trans }}</p>
          <a href="{{ category_path('system architecture') }}" class="btn">System Architecture Resources</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}