{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/behaviour.style.css') }}" />
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/homegraphic-bc.svg',
  'icon_alt': 'Behavioural Science',
  'header': 'Behavioural Science'
  } %}

  <section class="diagram detailed" id="diagram">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-3 text-center diagram-info">
          <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="Info info - lower case 'i'" class="info-icon" />
          <p>
            This is a more in-depth version of the behavioural science diagram showing <span class="inline-block">the connections.</span>
          </p>
          <a href="{{ category_path('behavioural science') }}" class="btn btn-block btn-explain back">
            Back to Resources
          </a>
        </div>
        <div class="col-md-6 triangle">
          <div class="diagram text-center">
            <div class="layout inline-block">
              <img src="{{ asset('bundles/app/images/bs-diagramdetailed.png') }}" alt="Behavioural Science Detailed Diagram" />
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center diagram-explain">
          {%  block back_to_diagram %}
            <div class="inline-block">
              <p>View resources via the interactive Diagram</p>
              <a href="{{ category_path('behavioural science') }}" class="btn btn-block btn-explain back">
                Back to Resources
              </a>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

  <section class="explain-diagram">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>About the Diagram </h2>
          <p>The entities of the intervention scenario part of the BCIO are listed below, with illustrative examples:</p>
          <ul>
            <li>Intervention – Opportunistic brief advice on smoking cessation (content) by a doctor, lasting an average of 30 seconds (delivery)</li>
            <li>Context –Adult smokers (population) attending a routine primary care appointment for a health problem in the UK (setting)</li>
            <li>Target behaviour –  Cessation of cigarette smoking for at least six months</li>
            <li>Mechanisms – Increase in desire to stop smoking and confidence in quitting leading to a quit attempt</li>
            <li>Exposure – 80% of smokers attending for an appointment receive the advice</li>
            <li>Outcome – 7% of the participants stopped smoking for at least six months</li>
          </ul>
          <p>The entities interact as shown by the arrows in the diagram. The content and delivery of an intervention influence the target behaviour through one or more mechanisms of action. The context moderates the influence of 1) the intervention on the mechanisms of action and 2) the mechanisms of action on the behaviour. Exposure moderates the influence of the intervention on the mechanisms of action and is itself influenced by the intervention and context.</p>
        </div>
      </div>
      <div class="row row-diagram-explain">
        <div class="col-xs-12">
          <div class="col-md-4 col-md-offset-4 text-center diagram-explain">
            {{ block('back_to_diagram') }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}