{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/behaviour.style.css') }}" />
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/homegraphic-bc.svg',
  'icon_alt': 'Behavioural Science',
  'header': 'Behavioural Science',
  'text': header_text
  } %}

  <section class="behaviour-diagram detailed" id="diagram">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-3 text-center diagram-info">
          <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="Info info - lower case 'i'" class="info-icon" />
          <p>
            This is a more in-depth version of the behavioural science diagram showing <span class="inline-block">the connections.</span>
          </p>
        </div>
        <div class="col-md-6 triangle">
          <div class="diagram text-center">
            <div class="layout inline-block">
              <img src="{{ asset('bundles/app/images/bs-diagramdetailed.png') }}" alt="Behavioural Science Detailed Diagram" />
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center diagram-explain">
          {%  block back_to_diagram %}
            <div class="inline-block">
              <p>View resources via the interactive Diagram</p>
              <a href="{{ path('behavioural_science') }}" class="btn btn-block btn-explain back">
                Back to Resources
              </a>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

  <section class="explain-diagram">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>About the Diagram </h2>
          {#<h3>The Connections </h3>#}
          <p>This diagram is a simplified representation of part of the top level of the Behaviour Change Intervention
            Ontology that shows a Behaviour Change Intervention Scenario. A scenario is a sequence or development of
            events consisting of an intervention, its target behaviour(s), and factors that influence the outcome of the
            intervention in relation to the target behaviour. A scenario may be hypothetical (if it is one that is being
            considered for modelling purposes), planned (if it is one that is or has been intended), or realised (if it
            has been enacted, for example in an evaluation). The entities in the scenario interact as shown by the arrows
            in the diagram. The content and delivery of an intervention influences the target behaviour through one or
            more mechanisms of action. The context moderates the influence of 1) the intervention on the mechanism of
            action and 2) the mechanisms of action on the behaviour. Exposure moderates the influence of the
            intervention on the mechanisms of action and is itself influenced by the intervention and context.</p>
        </div>
      </div>
      <div class="row row-diagram-explain">
        <div class="col-xs-12">
          <div class="col-md-4 col-md-offset-4 text-center diagram-explain">
            {{ block('back_to_diagram') }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}