{% extends 'layout.html.twig' %}
{% block body %}
  <section class="slider slider-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 pad-0">
          <h2>
            <span>Behavioural Science</span>
            <img class="hidden visible-xs" src="{{ asset('bundles/app/images/homegraphic-bc.png') }}" alt="mob-home">
          </h2>
          <p>The Human Behaviour Change Project is a collaboration between world leading institution to create and
            develop a Machine Learning Programme that can analyse and literature and no more text</p>
        </div>
      </div>
    </div>
  </section>
  <section class="behaviour-diagram">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 text-center diagram-visaul">
          <div class="icon">
            <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="team-icon">
          </div>
          <p>
            This Diagram is a visualisation of the flow of some to something else to produce an outcome.
          </p>
          <a href="{{ path('behavioural_science_explain') }}" class="btn res-btn">Explain Diagram</a>
        </div>
        {% embed "/frontend/behaviourtriangle.html.twig" %}{% endembed %}
        <div class="col-md-3 col-sm-3 text-center explain-button">
          <p>What to know more about this diagram?</p>
          <a href="{{ path('behavioural_science_explain') }}" class="btn"><img
                src="{{ asset('bundles/app/images/arrow-back-white.svg') }}">Explain Diagram</a>
        </div>
      </div>
    </div>
  </section>


  <div class="tab-content">

    <!-- By default -->
    <div id="home" class="tab-pane fade in active">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="arrow-up">
            Select a section of the Diagram for an explanation and to show associated resources
          </p>
        </div>
      </div>
    </div>

    <!-- Outcome Category -->
    <div id="menu0" class="tab-pane fade">
      <section class="reach-section text-center">
        <div id="exTab12" class="">
          <div class="text-style">
            <div class="row mar-0">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h3>OutCome</h3>
                <p class="qoutes">
                  Outcome Of Human Behaviour
                </p>
              </div>
            </div>
            <hr>

            <div class="tab-content ">
              <div class="tab-pane active" id="11">
                <div class="">
                  <div class="accordion-option">
                    <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion11"></a>
                  </div>

                  <div class="clearfix"></div>
                  <div class="panel-group" id="accordion11" role="tablist" aria-multiselectable="true">

                    {% if outcomecats %}
                    {% for catkey,catdetails in  outcomecats %}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                        <div class="container">
                          <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion11"
                               href="#{{ catkey|slugify }}" aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                              {{ catkey }}
                            </a>
                          </h3>
                        </div>
                      </div>

                      <div id="{{ catkey|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                           aria-labelledby="headingOne11{{ catkey|slugify }}">

                        {% if catdetails %}
                        {% for outcome in catdetails %}
                        <div class="panel-body light">
                          <div class="container">
        <span class="text-download">{{ outcome.title }}

          {% if outcome.pathType == 'dropbox' %}
          <a class="link-text"> {% if outcome.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if outcome.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                                  href="{{ path('homepage') }}resources/{{ outcome.title|slugify }}/{{ outcome.id }}">Download</a></span>
                          </div>
                          {% elseif  outcome.pathType == 'website' %}
                          <a class="link-text"> Website</a>
                          </span><span class="btn-download"><a href="{{ outcome.path }}" target="_blank">View</a></span>
                        </div>
                        {% elseif  outcome.pathType == 'tool' %}
                        <a class="link-text">HBCP Tool</a>
                        </span><span class="btn-download"><a href="{{ outcome.path }}"
                                                             target="_blank">Open Tool</a></span></div>
                      {% endif %}


                    </div>
                    {% endfor %}
                    {% endif %}


                  </div>
                </div>
                {% endfor %}
                {% endif %}
                <!--  122

               <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo11">
                  <div class="container">
                  <h3 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">Addtional Bibliography </a>
                  </h3>
                </div>
                </div>

                  <div id="collapseTwo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo11">
                      <div class="panel-body light">
                        <div class="container">
                        <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                      </div>

                       <div class="panel-body">
                       <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                      </div>

                       <div class="panel-body light">
                        <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                      </div>

                    </div>
                  </div>
                    151

                 <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree1">
                      <div class="container">
                      <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree11" aria-expanded="true" aria-controls="collapseThree11">
                        Presentations
                      </a>
                    </h3>
                     </div>
                    </div>
                  <div id="collapseThree11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree1">
                    <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                      </div>
                       <div class="panel-body">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                      </div>
                       <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                      </div>
                  </div>
                  </div>

                </div>
                121 -->
              </div>
            </div>
            <!-- 114 -->


          </div>
          <!-- 113 -->
        </div>
    </div>
    </section>
  </div>



  <!-- Second Menu Start -->

  <div id="menu1" class="tab-pane fade">
    <div class="row  mar-0">
      <div class="col-md-6 col-md-offset-3 text-style text-center">
        <h3>Exposure</h3>
        <p class="qoutes">
          Exposure is defined and consists of reach (how far it reaches) and engagement (how engaged something is)
          Reach Engagement
        </p>
      </div>
    </div>
    <section class="reach-section text-center">
      <div id="exTab2" class="">
        <div class="">


          <ul class="nav nav-tabs behaviour-tab">
            <li class="active">
              <a href="#1" data-toggle="tab">Reach</a>
            </li>
            <li><a href="#2" data-toggle="tab">Engagement</a>
            </li>

          </ul>

          <div class="tab-content ">
            <div class="tab-pane active" id="1">
              <div class="">
                <div class="accordion-option">

                  <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
                </div>
                <div class="clearfix"></div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                  {% if reachcats %}
                  {% for catkey,catdetails in  reachcats %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                      <div class="container">
                        <h3 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion11"
                             href="#{{ catkey|slugify }}" aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                            {{ catkey }}
                          </a>
                        </h3>
                      </div>
                    </div>

                    <div id="{{ catkey|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne11{{ catkey|slugify }}">

                      {% if catdetails %}
                      {% for reach in catdetails %}
                      <div class="panel-body light">
                        <div class="container">
        <span class="text-download">{{ reach.title }}

          {% if reach.pathType == 'dropbox' %}
          <a class="link-text"> {% if reach.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if reach.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                                href="{{ path('homepage') }}resources/{{ reach.title|slugify }}/{{ reach.id }}">Download</a></span>
                        </div>
                        {% elseif  reach.pathType == 'website' %}
                        <a class="link-text"> Website</a>
                        </span><span class="btn-download"><a href="{{ reach.path }}" target="_blank">View</a></span>
                      </div>
                      {% elseif  reach.pathType == 'tool' %}
                      <a class="link-text">HBCP Tool</a>
                      </span><span class="btn-download"><a href="{{ reach.path }}" target="_blank">Open Tool</a></span>
                    </div>
                    {% endif %}


                  </div>
                  {% endfor %}
                  {% endif %}


                </div>
              </div>
              {% endfor %}
              {% endif %}


              <!---    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <div class="container">
                      <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        General
                      </a>
                    </h3>
                </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                       <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                      </div>
                       <div class="panel-body">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                      </div>
                       <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <div class="container">
                      <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Addtional Bibliography
                      </a>
                    </h3>
                </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                      </div>
                       <div class="panel-body">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                      </div>
                       <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <div class="container">
                      <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                       Presentations
                      </a>
                    </h3>
                </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                       <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                      </div>
                       <div class="panel-body">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                      </div>
                       <div class="panel-body light">
                           <div class="container">
                        <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                      </div>
                    </div>
                  </div> -->


            </div>
          </div>
        </div>

        <div class="tab-pane" id="2">
          <div class="">
            <div class="accordion-option">

              <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              {% if engagecats %}
              {% for catkey,catdetails in  engagecats %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                  <div class="container">
                    <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion11" href="#{{ catkey|slugify }}"
                         aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                        {{ catkey }}
                      </a>
                    </h3>
                  </div>
                </div>

                <div id="{{ catkey|slugify|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne11{{ catkey|slugify }}">

                  {% if catdetails %}
                  {% for engage in catdetails %}
                  <div class="panel-body light">
                    <div class="container">
        <span class="text-download">{{ engage.title }}

          {% if engage.pathType == 'dropbox' %}
          <a class="link-text"> {% if engage.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if engage.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                            href="{{ path('homepage') }}resources/{{ engage.title|slugify }}/{{ engage.id }}">Download</a></span>
                    </div>
                    {% elseif  engage.pathType == 'website' %}
                    <a class="link-text"> Website</a>
                    </span><span class="btn-download"><a href="{{ engage.path }}" target="_blank">View</a></span></div>
                  {% elseif  engage.pathType == 'tool' %}
                  <a class="link-text">HBCP Tool</a>
                  </span><span class="btn-download"><a href="{{ engage.path }}" target="_blank">Open Tool</a></span>
                </div>
                {% endif %}


              </div>
              {% endfor %}
              {% endif %}


            </div>
          </div>
          {% endfor %}
          {% endif %}


          <!-- <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingOne">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 General
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                 <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingTwo">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                 Addtional Bibliography
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingThree">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Presentations
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           -->
        </div>
      </div>
  </div>

  </div>






  </div>
  </div>
  </section>
  </div>
  <!-- second category end  -->


  <!-- Third  Context  Categories  star-->

  <div id="menu2" class="tab-pane fade">
    <div class="row mar-0">
      <div class="col-md-6 col-md-offset-3 text-style text-center">
        <h3>Context</h3>
        <p class="qoutes">
          text for Context
        </p>
      </div>
    </div>
    <section class="reach-section text-center">
      <div id="exTab2" class="">
        <div class="">


          <ul class="nav nav-tabs behaviour-tab">
            <li class="active">
              <a href="#11" data-toggle="tab">Population</a>
            </li>
            <li><a href="#12" data-toggle="tab">Setting</a>
            </li>

          </ul>

          <div class="tab-content ">
            <div class="tab-pane active" id="11">
              <div class="">
                <div class="accordion-option">

                  <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
                </div>
                <div class="clearfix"></div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                  {% if populacats %}
                  {% for catkey,catdetails in  populacats %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                      <div class="container">
                        <h3 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion11"
                             href="#{{ catkey|slugify }}" aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                            {{ catkey }}
                          </a>
                        </h3>
                      </div>
                    </div>

                    <div id="{{ catkey|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne11{{ catkey|slugify }}">

                      {% if catdetails %}
                      {% for population in catdetails %}
                      <div class="panel-body light">
                        <div class="container">
        <span class="text-download">{{ population.title }}

          {% if population.pathType == 'dropbox' %}
          <a class="link-text"> {% if population.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if population.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                                href="{{ path('homepage') }}resources/{{ population.title|slugify }}/{{ population.id }}">Download</a></span>
                        </div>
                        {% elseif  population.pathType == 'website' %}
                        <a class="link-text"> Website</a>
                        </span><span class="btn-download"><a href="{{ population.path }}"
                                                             target="_blank">View</a></span></div>
                      {% elseif  population.pathType == 'tool' %}
                      <a class="link-text">HBCP Tool</a>
                      </span><span class="btn-download"><a href="{{ population.path }}"
                                                           target="_blank">Open Tool</a></span></div>
                    {% endif %}


                  </div>
                  {% endfor %}
                  {% endif %}


                </div>
              </div>
              {% endfor %}
              {% endif %}


            </div>
          </div>
        </div>

        <div class="tab-pane" id="12">
          <div class="">
            <div class="accordion-option">

              <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              {% if settingcats %}
              {% for catkey,catdetails in  settingcats %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                  <div class="container">
                    <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion11" href="#{{ catkey|slugify }}"
                         aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                        {{ catkey }}
                      </a>
                    </h3>
                  </div>
                </div>

                <div id="{{ catkey|slugify|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne11{{ catkey|slugify }}">

                  {% if catdetails %}
                  {% for setting in catdetails %}
                  <div class="panel-body light">
                    <div class="container">
        <span class="text-download">{{ setting.title }}

          {% if setting.pathType == 'dropbox' %}
          <a class="link-text"> {% if setting.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if setting.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                            href="{{ path('homepage') }}resources/{{ setting.title|slugify }}/{{ setting.id }}">Download</a></span>
                    </div>
                    {% elseif  setting.pathType == 'website' %}
                    <a class="link-text"> Website</a>
                    </span><span class="btn-download"><a href="{{ setting.path }}" target="_blank">View</a></span></div>
                  {% elseif  setting.pathType == 'tool' %}
                  <a class="link-text">HBCP Tool</a>
                  </span><span class="btn-download"><a href="{{ setting.path }}" target="_blank">Open Tool</a></span>
                </div>
                {% endif %}


              </div>
              {% endfor %}
              {% endif %}


            </div>
          </div>
          {% endfor %}
          {% endif %}


          <!-- <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingOne">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 General
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                 <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingTwo">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                 Addtional Bibliography
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingThree">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Presentations
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           -->
        </div>
      </div>
  </div>

  </div>






  </div>
  </div>
  </section>
  </div>


  <!-- Fourth Category Start -->
  <div id="menu3" class="tab-pane fade">
    <div class="row mar-0">
      <div class="col-md-6 col-md-offset-3 text-style text-center">
        <h3>Intervention</h3>
        <p class="qoutes">
          text for Intervention
        </p>
      </div>
    </div>
    <section class="reach-section text-center">
      <div id="exTab2" class="">
        <div class="">


          <ul class="nav nav-tabs behaviour-tab">
            <li class="active">
              <a href="#21" data-toggle="tab">Content</a>
            </li>
            <li><a href="#22" data-toggle="tab">Delivery</a>
            </li>

          </ul>

          <div class="tab-content ">
            <div class="tab-pane active" id="21">
              <div class="">
                <div class="accordion-option">

                  <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
                </div>
                <div class="clearfix"></div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                  {% if contentcats %}
                  {% for catkey,catdetails in  contentcats %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                      <div class="container">
                        <h3 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion11"
                             href="#{{ catkey|slugify }}" aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                            {{ catkey }}
                          </a>
                        </h3>
                      </div>
                    </div>

                    <div id="{{ catkey|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne11{{ catkey|slugify }}">

                      {% if catdetails %}
                      {% for intercontent in catdetails %}
                      <div class="panel-body light">
                        <div class="container">
        <span class="text-download">{{ intercontent.title }}

          {% if intercontent.pathType == 'dropbox' %}
          <a class="link-text"> {% if intercontent.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if intercontent.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                                href="{{ path('homepage') }}resources/{{ intercontent.title|slugify }}/{{ intercontent.id }}">Download</a></span>
                        </div>
                        {% elseif  intercontent.pathType == 'website' %}
                        <a class="link-text"> Website</a>
                        </span><span class="btn-download"><a href="{{ intercontent.path }}"
                                                             target="_blank">View</a></span></div>
                      {% elseif  intercontent.pathType == 'tool' %}
                      <a class="link-text">HBCP Tool</a>
                      </span><span class="btn-download"><a href="{{ intercontent.path }}" target="_blank">Open Tool</a></span>
                    </div>
                    {% endif %}


                  </div>
                  {% endfor %}
                  {% endif %}


                </div>
              </div>
              {% endfor %}
              {% endif %}


            </div>
          </div>
        </div>

        <div class="tab-pane" id="22">
          <div class="">
            <div class="accordion-option">

              <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              {% if deliveries %}
              {% for catkey,catdetails in  deliveries %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                  <div class="container">
                    <h3 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion11" href="#{{ catkey|slugify }}"
                         aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                        {{ catkey }}
                      </a>
                    </h3>
                  </div>
                </div>

                <div id="{{ catkey|slugify|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne11{{ catkey|slugify }}">

                  {% if catdetails %}
                  {% for delievry in catdetails %}
                  <div class="panel-body light">
                    <div class="container">
        <span class="text-download">{{ delievry.title }}

          {% if delievry.pathType == 'dropbox' %}
          <a class="link-text"> {% if delievry.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if delievry.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                            href="{{ path('homepage') }}resources/{{ delievry.title|slugify }}/{{ delievry.id }}">Download</a></span>
                    </div>
                    {% elseif  delievry.pathType == 'website' %}
                    <a class="link-text"> Website</a>
                    </span><span class="btn-download"><a href="{{ delievry.path }}" target="_blank">View</a></span>
                  </div>
                  {% elseif  delievry.pathType == 'tool' %}
                  <a class="link-text">HBCP Tool</a>
                  </span><span class="btn-download"><a href="{{ delievry.path }}" target="_blank">Open Tool</a></span>
                </div>
                {% endif %}


              </div>
              {% endfor %}
              {% endif %}


            </div>
          </div>
          {% endfor %}
          {% endif %}


          <!-- <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingOne">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 General
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                 <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingTwo">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                 Addtional Bibliography
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingThree">
               <div class="container">
               <h3 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Presentations
               </a>
             </h3>
         </div>
             </div>
             <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
               </div>
                <div class="panel-body">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
               </div>
                <div class="panel-body light">
                    <div class="container">
                 <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
               </div>
             </div>
           </div>
           -->
        </div>
      </div>
  </div>

  </div>






  </div>
  </div>
  </section>
  </div>


  <!-- Fifth Categroy satrt -->
  <div id="menu4" class="tab-pane fade">
    <section class="reach-section text-center">
      <div id="exTab12" class="">
        <div class="text-style">
          <div class="row mar-0">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3>Mechanisms</h3>
              <p class="qoutes">
                Mechanisms Of Human Behaviour
              </p>
            </div>
          </div>
          <hr>

          <div class="tab-content ">
            <div class="tab-pane active" id="11">
              <div class="">
                <div class="accordion-option">
                  <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion112"></a>
                </div>

                <div class="clearfix"></div>
                <div class="panel-group" id="accordion112" role="tablist" aria-multiselectable="true">

                  {% if mechnismscats %}
                  {% for catkey,catdetails in  mechnismscats %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                      <div class="container">
                        <h3 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion112"
                             href="#{{ catkey|slugify }}" aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                            {{ catkey }}
                          </a>
                        </h3>
                      </div>
                    </div>

                    <div id="{{ catkey|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne11{{ catkey|slugify }}">

                      {% if catdetails %}
                      {% for mechanism in catdetails %}
                      <div class="panel-body light">
                        <div class="container">
        <span class="text-download">{{ mechanism.title }}

          {% if mechanism.pathType == 'dropbox' %}
          <a class="link-text"> {% if mechanism.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if mechanism.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                                href="{{ path('homepage') }}resources/{{ mechanism.title|slugify }}/{{ mechanism.id }}">Download</a></span>
                        </div>
                        {% elseif  mechanism.pathType == 'website' %}
                        <a class="link-text"> Website</a>
                        </span><span class="btn-download"><a href="{{ mechanism.path }}" target="_blank">View</a></span>
                      </div>
                      {% elseif  mechanism.pathType == 'tool' %}
                      <a class="link-text">HBCP Tool</a>
                      </span><span class="btn-download"><a href="{{ mechanism.path }}"
                                                           target="_blank">Open Tool</a></span></div>
                    {% endif %}


                  </div>
                  {% endfor %}
                  {% endif %}


                </div>
              </div>
              {% endfor %}
              {% endif %}
              <!--  122

             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo11">
                <div class="container">
                <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">Addtional Bibliography </a>
                </h3>
              </div>
              </div>

                <div id="collapseTwo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo11">
                    <div class="panel-body light">
                      <div class="container">
                      <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                    </div>

                     <div class="panel-body">
                     <div class="container">
                    <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                    </div>

                     <div class="panel-body light">
                      <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                    </div>

                  </div>
                </div>
                  151

               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree1">
                    <div class="container">
                    <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree11" aria-expanded="true" aria-controls="collapseThree11">
                      Presentations
                    </a>
                  </h3>
                   </div>
                  </div>
                <div id="collapseThree11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree1">
                  <div class="panel-body light">
                         <div class="container">
                      <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                    </div>
                     <div class="panel-body">
                         <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                    </div>
                     <div class="panel-body light">
                         <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                    </div>
                </div>
                </div>

              </div>
              121 -->
            </div>
          </div>
          <!-- 114 -->


        </div>
        <!-- 113 -->
      </div>
  </div>
  </section>
  </div>

  <!-- Sixth categgory -->
  <div id="menu5" class="tab-pane fade">
    <section class="reach-section text-center">
      <div id="exTab12" class="">
        <div class="text-style">
          <div class="row mar-0">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3>Target Behaviour</h3>
              <p class="qoutes">
                Target Behaviour is defined and consists of reach (how far it reaches) and engagement (how engaged
                something is) Reach Engagement
              </p>
            </div>
          </div>
          <hr>

          <div class="tab-content ">
            <div class="tab-pane active" id="81">
              <div class="">
                <div class="accordion-option">
                  <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion115"></a>
                </div>

                <div class="clearfix"></div>
                <div class="panel-group" id="accordion115" role="tablist" aria-multiselectable="true">

                  {% if behavescats %}
                  {% for catkey,catdetails in  behavescats %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne11{{ catkey|slugify }}">
                      <div class="container">
                        <h3 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion115"
                             href="#{{ catkey|slugify }}" aria-expanded="true" aria-controls="{{ catkey|slugify }}">
                            {{ catkey }}
                          </a>
                        </h3>
                      </div>
                    </div>

                    <div id="{{ catkey|slugify }}" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne11{{ catkey|slugify }}">

                      {% if catdetails %}
                      {% for behave in catdetails %}
                      <div class="panel-body light">
                        <div class="container">
        <span class="text-download">{{ behave.title }}

          {% if behave.pathType == 'dropbox' %}
          <a class="link-text"> {% if behave.resourceType != 0 %}
              {% for resourcename in  allresourcetypes %}
                {% if behave.resourceType == resourcename.id %}
                  {{ resourcename.name }}
                {% endif %}
              {% endfor %}
            {% endif %} </a>
            </span><span class="btn-download"><a
                                href="{{ path('homepage') }}resources/{{ behave.title|slugify }}/{{ behave.id }}">Download</a></span>
                        </div>
                        {% elseif  behave.pathType == 'website' %}
                        <a class="link-text"> Website</a>
                        </span><span class="btn-download"><a href="{{ behave.path }}" target="_blank">View</a></span>
                      </div>
                      {% elseif  behave.pathType == 'tool' %}
                      <a class="link-text">HBCP Tool</a>
                      </span><span class="btn-download"><a href="{{ behave.path }}" target="_blank">Open Tool</a></span>
                    </div>
                    {% endif %}


                  </div>
                  {% endfor %}
                  {% endif %}


                </div>
              </div>
              {% endfor %}
              {% endif %}
              <!--  122

             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo11">
                <div class="container">
                <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">Addtional Bibliography </a>
                </h3>
              </div>
              </div>

                <div id="collapseTwo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo11">
                    <div class="panel-body light">
                      <div class="container">
                      <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                    </div>

                     <div class="panel-body">
                     <div class="container">
                    <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                    </div>

                     <div class="panel-body light">
                      <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                    </div>

                  </div>
                </div>
                  151

               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree1">
                    <div class="container">
                    <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree11" aria-expanded="true" aria-controls="collapseThree11">
                      Presentations
                    </a>
                  </h3>
                   </div>
                  </div>
                <div id="collapseThree11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree1">
                  <div class="panel-body light">
                         <div class="container">
                      <span class="text-download">A link to some sort of resource like powerpoint slide or paper<a class="link-text">PDF</a></span><span class="btn-download"><a href="#">Download</a></span> </div>
                    </div>
                     <div class="panel-body">
                         <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
                    </div>
                     <div class="panel-body light">
                         <div class="container">
                      <span class="text-download">Matrix Tool or example of another link Website<a class="link-text">Website</a></span><span class="btn-download"><a href="#">View</a></span> </div>
                    </div>
                </div>
                </div>

              </div>
              121 -->
            </div>
          </div>
          <!-- 114 -->


        </div>
        <!-- 113 -->
      </div>
  </div>
  </section>
  </div>



  </div>
  <!-- 83 line -->
{% endblock %}