{% extends 'layout.html.twig' %}
{% set diagramAnchor = '#diagram' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/behaviour.style.css') }}" />
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/homegraphic-bc.svg',
  'icon_alt': 'Behavioural Science',
  'header': 'Behavioural Science'
  } %}

  <section class="behaviour-diagram" id="diagram">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-3 text-center diagram-info">
          <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="Info info - lower case 'i'" class="info-icon" />
          <p>
            {{ 'behavioural_science.info'|trans }}
          </p>
          <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
            Explain Diagram
          </a>
        </div>
        <div class="col-md-6 triangle">
          {% include 'frontend/_triangle.html.twig' %}
        </div>
        <div class="col-md-3 text-center diagram-explain">
          <div class="inline-block">
            <p>What to know more about this diagram?</p>
            <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
              Explain Diagram
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if not parent %}
  <section class="select-label text-center">
    <p>Select section of the Diagram for an explanation and to show the associated resources</p>
  </section>
  {% else %}
  <section class="resources">
    <div class="resource-header text-center">
      {% set second_level_parent = tabs ? parent.parent : parent %}
      <h2>{{ second_level_parent.name }}</h2>
      <p>{{ ('behavioural_science.' ~ (second_level_parent.name|slugify)~'.description')|trans }}</p>
    </div>
    {% if tabs %}
      {% set current_tab_href = path('behavioural_science', {slug: parent.name|slugify, parent: parent.id}) %}
      <ul class="nav nav-tabs">
      {% for tab in tabs %}
        {% set tab_href = path('behavioural_science', {slug: tab.name|slugify, parent: tab.id}) %}
        <li{% if tab_href == current_tab_href %} class="active"{% endif %}><a href="{{ tab_href~diagramAnchor }}">{{ tab.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

    {% set total = parent.resources|length %}
    {% set resources = parent.resources %}
    {% include 'frontend/_behaviourResources.html.twig' with {resources:resources, category:parent, general: true} %}

    {% for category in parent.children %}
      {% set sub_resources = category_resources(category) %}
      {% set total = total+sub_resources|length %}
      {% include 'frontend/_behaviourResources.html.twig' with {resources:sub_resources, category:category} %}
    {% endfor %}

    {% if not total %}
      <div class="row text-left resource">
        <div class="col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h3>No resources found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
  {% endif %}
{% endblock %}