{% extends 'layout.html.twig' %}
{% block body %}
<section class="slider slider-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 pad-0">
                <h2>
                    <span>Behavioural Science</span>
                    <img class="hidden visible-xs" src="{{ asset('bundles/app/images/homegraphic-bc.png') }}" alt="mob-home">
                </h2>
                <p>The Human Behaviour Change Project is a collaboration between world leading institution to create and develop a Machine Learning Programme that can analyse and literature and no more text</p>
            </div>
        </div>
    </div>
</section>
<section class="behaviour-diagram-2 behaviour-diagram">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 text-center diagram-visaul">
                    <div class="icon">
                    <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="team-icon">
                </div>
                <p>
                    This is an more in-depth version 
                    of the behavioural science diagram 
                    showing the connections.
                </p>
                <a href="{{app.request.headers.get('referer')}}" class="btn res-btn">< Back to Resources</a>
            </div>
            <div class="col-md-6 col-sm-4 text-center outcome-img">
                <img src="{{ asset('bundles/app/images/bs-diagramdetailed.png') }}" alt="Homegraphic Behavioural Science">
                
            </div>
              <div class="col-md-3 col-sm-4 text-center explain-button">
                 <p>View resources via the 
                    interactive Diagram </p>
                  <a href="{{app.request.headers.get('referer')}}" class="btn"><img src="{{ asset('bundles/app/images/arrow-back-white.svg') }}">Back to Resources </a>
            </div>
        </div>
    </div>
</section>
<section class="about-diagram">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>About the Diagram </h2>
                <h3>The Connections </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. </p>
                <h3>How to use the diagram </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                    ut aliquip ex ea commodo consequat. </p>
                <h3>Use case scenario </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    View resources via the </p>

                    <div class=" text-center resource-button">
                         <p>View resources via the 
                            interactive Diagram </p>
                <a href="{{app.request.headers.get('referer')}}" class="btn"><img src="{{ asset('bundles/app/images/arrow-back-white.svg') }}"> Back to Resources </a>
                    </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}