{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/contact.style.css') }}" />
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/contacticon.svg',
  'icon_alt': 'Contact HBCP Header Icon',
  'header': 'Contact Us'
  } %}

  <section class="contact-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 news-img">
          <h2><img src="{{ asset('bundles/app/images/contact-mailinglist.svg') }}"></h2>
          <h2>Mailing List</h2>
          <p>{{ 'contact.mailing_list'|trans }}</p>
          <a href="http://humanbehaviourchange.us3.list-manage.com/subscribe?u=bd864047323807b6285d8248f&id=0601ce3f88"
             class="btn contact-btn"
             target="_blank"
             rel="noopener"
          >Sign Up</a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <h2><img src="{{ asset('bundles/app/images/contact-twitter.svg') }}"></h2>
          <h2>Twitter</h2>
          <p>{{ 'contact.twitter'|trans }}</p>
          <a href="https://twitter.com/hbcproject" class="btn contact-btn" target="_blank" rel="noopener">Visit Twitter Profile</a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <h2><img src="{{ asset('bundles/app/images/contact-openscience.png') }}"></h2>
          <h2>Open Science Framework</h2>
          <p>{{ 'contact.open_science'|trans }}</p>
          <a href="https://osf.io/efp4x/" class="btn contact-btn" target="_blank" rel="noopener">Visit Open Science Framework</a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <h2><img src="{{ asset('bundles/app/images/contact-researchgate.png') }}"></h2>
          <h2>Research Gate</h2>
          <p>{{ 'contact.research_gate'|trans }}</p>
          <a href="https://www.researchgate.net/project/The-Human-Behaviour-Change-Project" class="btn contact-btn" target="_blank" rel="noopener">Visit Research Gate</a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <h2><img src="{{ asset('bundles/app/images/contact-email.svg') }}"></h2>
          <h2>Email</h2>
          <p>{{ 'contact.email'|trans|raw|nl2br }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}