{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/home.style.css') }}" />
{% endblock %}
{% block body %}
  {% include 'frontend/_hero.html.twig' with {
    'icon': 'bundles/app/images/mob-home.png',
    'icon_alt': 'Home hero header icon - head wire-frame at globe',
    'header': 'Advancing and Applying the Science of Behaviour Change through Machine Learning'
  } %}

  <section class="logo-bar">
    <p class="text-center">
      <img src="{{ asset('bundles/app/images/home-sponsors.svg') }}" alt="HBCP Sponsor Logos">
    </p>
  </section>

  <section class="block light block-feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mt-0">Human Behaviour-Change Project</h2>
          <p>The Human Behaviour-Change Project (HBCP) is creating an online ‘Knowledge System’ that uses Artificial Intelligence, in particular Natural Language Processing and Machine Learning, to extract information from intervention evaluation reports to answer key questions about the evidence. It is a collaboration between behavioural scientists, computer scientists and systems architects.</p>
          <p>The Knowledge System will continually search publication databases to find behaviour change intervention evaluation reports, extract and synthesise the findings, provide up-to-date answers to questions, and draw inferences about behaviour change. Practitioners, policy makers and researchers will be able to query the system to obtain answers to variants of the key question: ‘What intervention(s) work, compared with what, how well, with what exposure, with what behaviours, for how long, for whom, in what settings and why?’</p>
          <p>The project team is committed to open science and generating products and resources for the scientific community to use. These will be accessible via this website. There is strong engagement of the scientific community as the project evolves, with an International Advisory Board and peer review panels to comment on specific components.</p>
          <p class="text-center">
            <a href="{{ path('about') }}" class="btn">Learn about the project</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img src="{{ asset('bundles/app/images/homegraphic-bc.svg') }}" alt="Behavioural Science">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="mt-md-0">Behavioural Science</h2>
          <p>{{ 'home.behavioural_science'|trans }}</p>
          <p class="text-center">
          <a href="{{ category_path('behavioural science', 'resources_description') }}" class="btn">Behavioural Science</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="{{ asset('bundles/app/images/homegraphic-cs.svg') }}" alt="Computer Science">
        </div>
        <div class="col-sm-6">
          <h2 class="mt-md-0">Computer Science</h2>
          <p>{{ 'home.computer_science'|trans }}</p>
          <p class="text-center">
          <a href="{{ category_path('computer science', 'resources_description') }}" class="btn">Computer Science</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img src="{{ asset('bundles/app/images/homegraphic-sa.svg') }}" alt="Systems Architecture">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="mt-md-0">Systems Architecture</h2>
          <p>{{ 'home.system_architecture'|trans }}</p>
          <p class="text-center">
          <a href="{{ category_path('systems architecture', 'resources_description') }}" class="btn">Systems Architecture</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="block light block-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="custom-block team">
            <div class="icon">
              <img src="{{ asset('bundles/app/images/homeicon-team.svg') }}" alt="team-icon">
            </div>
            <h2>Meet The Team</h2>
            <div class="row">
              <div class="col-md-4">
                <a href="{{ path('grantholders') }}" class="btn">Grant Holders</a>
              </div>
              <div class="col-md-4">
                <a href="{{ path('projecteam') }}" class="btn research-team">Research Team</a>
              </div>
              <div class="col-md-4">
                <a href="{{ path('consultants_collaborators') }}" class="btn research-team">Consultants and Collaborators</a>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="custom-block news">
            <div class="icon">
              <img src="{{ asset('bundles/app/images/homeicon-news.svg') }}" alt="news-icon">
            </div>
            <h2>HBCP News</h2>
            <a href="{{ path('news') }}" class="btn">Latest News</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}