{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/home.style.css') }}" />
{% endblock %}
{% block body %}
  {% include 'frontend/_hero.html.twig' with {
    'icon': 'bundles/app/images/mob-home.png',
    'icon_alt': 'Home hero header icon - head wire-frame at globe',
    'header': 'Advancing and Applying the science of Behaviour Change through Machine-Learning'
  } %}

  <section class="logo-bar">
    <p class="text-center">
      <img src="{{ asset('bundles/app/images/home-sponsors.svg') }}" alt="HBCP Sponsor Logos">
    </p>
  </section>

  <section class="block light block-feature text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-0">Human Behaviour Change Project</h2>
          <p>Lipsum</p>
          <p>Text</p>
          <a href="{{ path('about') }}" class="btn">About the Project</a>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img src="{{ asset('bundles/app/images/homegraphic-bc.svg') }}" alt="Homegraphic Behavioural Science">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="mt-md-0">Behavioural Science</h2>
          <p>{{ 'home.behavioural_science'|trans }}</p>
          <a href="{{ path('behavioural_science') }}" class="btn">Behavioural Science Resources</a>
        </div>
      </div>
    </div>
  </section>

  <section class="block light block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="{{ asset('bundles/app/images/homegraphic-cs.svg') }}" alt="Homegraphic Computer Science">
        </div>
        <div class="col-sm-6">
          <h2 class="mt-md-0">Computer Science</h2>
          <p>{{ 'home.computer_science'|trans }}</p>
          <a href="{{ category_path('computer science') }}" class="btn">Computer Science Resources</a>
        </div>
      </div>
    </div>
  </section>

  <section class="block block-feature">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img src="{{ asset('bundles/app/images/homegraphic-sa.svg') }}" alt="Homegraphic System Architecture">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="mt-md-0">System Architecture</h2>
          <p>{{ 'home.system_architecture'|trans }}</p>
          <a href="{{ category_path('system architecture') }}" class="btn">System Architecture Resources</a>
        </div>
      </div>
    </div>
  </section>

  <section class="block light block-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="custom-block team">
            <div class="icon">
              <img src="{{ asset('bundles/app/images/homeicon-team.svg') }}" alt="team-icon">
            </div>
            <h2>Meet The Team</h2>
            <div class="row">
              <div class="col-md-6">
                <a href="{{ path('grantholders') }}" class="btn">Grant Holders</a>
              </div>
              <div class="col-md-6">
                <a href="{{ path('projecteam') }}" class="btn">Research Team</a>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="custom-block news">
            <div class="icon">
              <img src="{{ asset('bundles/app/images/homeicon-news.svg') }}" alt="news-icon">
            </div>
            <h2>HBCP News</h2>
            <a href="{{ path('news') }}" class="btn">Latest News</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}