{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/news.css') }}" />
{% endblock %}
{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/news-white.png',
  'icon_alt': 'Hero icon - Latest News',
  'header': 'Latest News',
  'text': 'Some text will go here relating to the Grant Holders and Project Team. Maybe explaining the difference
            between the two and the fact the Project Team seem to be know as investigators.'
  } %}
  {% for news in allnews %}
    <section class="latest-news-section light">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-md-offset-2 col-sm-3 col-xs-12 news-img">
            {% if news.imagePath is not empty %}
              <img src="{{ url('homepage') }}uploads/newsimages/{{ news.imagePath }}" alt="image">
            {% else %}
              <img src="{{ asset('bundles/app/images/news-default.svg') }}" alt="image">
            {% endif %}
          </div>
          <div class="col-md-5 col-sm-9 col-xs-12 news-detail">
            <a href="{{ url('homepage') }}news/{{ news.name |slugify }}/{{ news.id }}"><h2>{{ news.name }}</h2></a>
            <p class="sub-heading">By {{ news.author }}</p>

            <p>Publication date: <span>{{ news.created |date("d F Y") }}</span></p>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}

{% endblock %}