{% extends 'home.html.twig' %}
{% block body %}
<section class="slider slider-5">
 <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm-8 pad-0">
            <h2>
                <span>Latest News</span>
                <img class="hidden visible-xs" src="{{ asset('bundles/app/images/news-white.png') }}" alt="mob-home">
            </h2>
            <p>Some text will go here relating to the Grant Holders and Project Team. Maybe explaining the difference between the two and the fact the Project Team seem to be know as investigators.</p>
             </div>
        </div>
    </div>
</section>


{% for news in allnews %}


<section class="latest-news-section light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-2 col-sm-3 col-xs-12 news-img">
                    
                     {% if news.imagePath is not empty %}
                    <img src="{{ url('homepage') }}uploads/newsimages/{{ news.imagePath }}" alt="image">
                    {% else %}
                    <img src="{{ asset('bundles/app/images/news-default.svg') }}" alt="image">
                    {%endif%}
                
            </div>
            <div class="col-md-5 col-sm-9 col-xs-12 news-detail">
           <a href="{{ url('homepage') }}news/{{ news.name |slugify }}/{{news.id}}"  >     <h2>{{ news.name }}</h2> </a>
                <p class="sub-heading">By {{ news.author }}</p>
                
                <p>Publication date: <span>{{ news.added |date("d F Y") }}</span></p>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock %}