{% extends 'layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/news.style.css') }}" />
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'icon': 'bundles/app/images/news-white.png',
  'icon_alt': 'Hero icon - Latest News',
  'header': 'Latest News',
  'text': 'news.description'|trans
  } %}
  {% for news in allnews %}
    <section class="latest-news-section">
      <div class="container">
        <a class="row">
          <a href="{{ path('news_post', {
            'slug': news.name|slugify,
            'news': news.id
          }) }}">
            <div class="col-md-offset-2 col-md-3 col-xs-12 news-img">
              <img src="{{ news.imagePath is not empty ? asset(news.imagePath)|imagine_filter('news_thumb') : asset('/bundles/app/images/news-default.svg')  }}" alt="{{ news.name }}" />
            </div>
            <div class="col-md-5 col-xs-12 news-detail">
              <h2>{{ news.name }}</h2>
              <p class="sub-heading">By {{ news.author }}</p>
              <p>Publication date: <span>{{ news.created |date("d F Y") }}</span></p>
            </div>
          </a>
        </div>
      </a>
    </section>
  {% endfor %}

{% endblock %}