{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/resource.style.css') }}"/>
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'class': 'default',
  'icon': null,
  'header': resource.title,
  'text': resource.resourceType.name|default(null),
  'link': {
  'href': path('resources', {
  slug: resource.rootCategory.name|slugify,
  parent: resource.rootCategory.id
  }),
  'text': 'Back to Resources'
  }
  } %}
  <section class="dropbox-section">
    <div class="container">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 dropbox-info">
            <img class="dropbox-logo" src="{{ asset('bundles/app/images/resource-dropbox.svg') }}" alt="Dropbox Logo">
            <p>We use Dropbox to host all our resource documents</p>
          </div>
        </div>
        <div class="row download-btn-row">
          <div class="col-xs-12 text-center">
            <a href="{{resource.path}}" target="_blank" class="btn btn-download">
              Download Resource
              <span class="filesize">
                {{ (resource.dropboxSize/1024/1024)|round(1) }} MiB
              </span>
            </a>
          </div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Department</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.rootCategory.name }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Category</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.categoryChain|join(' / ') }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Uploaded</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.dropboxUploaded|date("d/m/Y") }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Listed</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.created|date("d/m/Y") }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Resource ID</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.idPadded }}</div>
        </div>
      </div>
    </div>
  </section>
  {% include 'frontend/_shareAndBack.html.twig' with {
    share_title: 'Share Resource',
    tweet: 'Take a look at this resource I came across - ' ~ resource.title ~ ' ' ~ app.request.uri ~ ' #HBCP',
    back_href: path('resources', {slug: resource.rootCategory.name|slugify, parent: resource.rootCategory.id}),
    back_link: 'Back To Resources'
  } %}
{% endblock %}