{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/resource.style.css') }}"/>
{% endblock %}

{% block body %}
  {% include 'frontend/_hero.html.twig' with {
  'class': 'default',
  'icon': null,
  'header': resource.title,
  'text': resource.resourceType.name|default(null),
  'link': {
  'href': path('resources', {
  slug: resource.rootCategory.name|slugify,
  parent: resource.rootCategory.id
  }),
  'text': 'Back to Resources'
  }
  } %}
  <section class="dropbox-section">
    <div class="container">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 dropbox-info">
            <img class="dropbox-logo" src="{{ asset('bundles/app/images/resource-dropbox.svg') }}" alt="Dropbox Logo">
            <p>We use Dropbox to host all our resource documents</p>
          </div>
        </div>
        <div class="row download-btn-row">
          <div class="col-xs-12 text-center">
            <a href="{{resource.path}}" target="_blank" class="btn btn-download">
              Download Resource
              <span class="filesize">
                {{ (resource.dropboxSize/1024/1024)|round(1) }} MiB
              </span>
            </a>
          </div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Department</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.rootCategory.name }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Category</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.categoryChain|join(' / ') }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Uploaded</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.dropboxUploaded|date("d/m/Y") }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Listed</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.created|date("d/m/Y") }}</div>
        </div>
        <div class="row dbinfo">
          <div class="col-xs-6 dbinfo-label text-right">Resource ID</div>
          <div class="col-xs-6 dbinfo-detail">{{ resource.idPadded }}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="share-resource text-center">
    <div class="contanier">
      <div class="row">
        <div class="col-xs-12" >
          <h2>Share Resource</h2>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-offset-3 col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="share-link" value="{{ app.request.uri }}" readonly />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="copy-link" data-clipboard-target="#share-link">Copy Link</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <h3>Share with Networks</h3>
          <ul class="list-unstyled list-inline social-icons">
            <li>
              <a href="#" id="fb-share" title="Share on Facebook" >
                <img src="{{ asset('bundles/app/images/share-fb.svg') }}" alt="social-icon">
              </a>
            </li>
            <li>
              <a href="#" id="tw-share" data-tweet="Take a look at this resource I came across - {{resource.title}} {{ app.request.uri}} #HBCP">
                <img src="{{ asset('bundles/app/images/share-tw.svg') }}" alt="social-icon">
              </a>
            </li>
            <li>
              <a href="#" id="li-share">
                <img src="{{ asset('bundles/app/images/share-in.svg') }}" alt="social-icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="back-btn text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a class="btn back-btn-bottom" href="{{ path('resources', {
            slug: resource.rootCategory.name|slugify,
            parent: resource.rootCategory.id
          }) }}" class="btn">Back To Resources</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}