{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/home.style.css') }}" />
  <link rel="stylesheet" href="{{ asset('build/resources.style.css') }}"/>
  <link rel="stylesheet" href="{{ asset('build/behaviour.style.css') }}" />
{% endblock %}

{% block body %}

  {% include 'frontend/_hero.html.twig' with {
  'icon': hero.icon,
  'icon_alt': hero.icon_alt,
  'header': hero.header
  } %}
  <section class="block light block-feature text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% if currentPath == category_path('behavioural science') %}
            {% include 'frontend/resource_descriptions/behavioural_science.twig' %}
          {% elseif currentPath == category_path('computer science') %}
            {% include 'frontend/resource_descriptions/computer_science.twig' %}
          {% elseif currentPath == category_path('system architecture') %}
            {% include 'frontend/resource_descriptions/system_architecture.twig' %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="text-center">
    <section class="diagram" id="diagram">
      <div class="container-fluid">
        <div class="row no-gutters">
          {% if currentPath == category_path('behavioural science') %}
             {% include 'frontend/diagrams/_triangle.html.twig' %}
          {% elseif currentPath == category_path('computer science') %}
            <img src="{{ asset('bundles/app/images/diagram-computer-science.png') }}" class="diagram-image" />
          {% elseif currentPath == category_path('system architecture') %}
            <img src="{{ asset('bundles/app/images/diagram-system-architecture.png') }}" class="diagram-image" />
          {% endif %}
        </div>
      </div>
    </section>
    <div class="row hidden-md hidden-lg">
      <div class="col-xs-12">
        <a class="btn-filter-toggle collapsed" role="button" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-left">
                Filter Resources (<span id="filter-count">0</span> selected)
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="collapse filter-collapse" id="filterCollapse">
      <div class="filter-row">
        <div class="container">
          <form class="row" method="POST" id="filter-form">
            <div class="col-xs-12">
              <div class="form-group col-xs-12 col-md-4">
                <label class="text-right filter-label">
                  <span>Category</span>
                </label>
                <select name="category[]" class="selectpicker filter" id="category-select" data-live-search="true" multiple data-selected-text-format="count > 0" title="Select Categories">
                  {% for option in filter.categories %}
                    <option value="{{ option.value }}">{{ option.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-xs-12 col-md-4">
                <label class="text-right filter-label">
                  <span>Types</span>
                </label>
                <select name="type[]" class="selectpicker filter" id="type-select" data-live-search="true" multiple data-selected-text-format="count > 1" title="Select Types">
                  {% for option in filter.types %}
                    <option value="{{ option.value }}">{{ option.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-xs-12 col-md-4">
                <label class="text-right filter-label">
                  <span>Sort by</span>
                </label>
                <select name="sortdate" class="selectpicker order" id="order-select">
                  <option value="desc" selected="selected">Date (New to Old)</option>
                  <option value="asc">Date (Old to New)</option>
                </select>
              </div>
            </div>
            <input type="hidden" name="req" value="list" />
          </form>
        </div>
      </div>
    </div>
    {% if not resources|length %}
      <div class="row text-left resource">
        <div class="col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h3>No resources found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="resources-list" id="resources-list">
        {% include 'frontend/_resourceList.html.twig' %}
      </div>
    {% endif %}
  </section>
{% endblock %}
