{% extends 'layout.html.twig' %}
{% set diagramAnchor = '#diagram' %}
{% set second_level_link = '' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/home.style.css') }}" />
  <link rel="stylesheet" href="{{ asset('build/resources.style.css') }}"/>
  <link rel="stylesheet" href="{{ asset('build/behaviour.style.css') }}" />
{% endblock %}

{% block body %}

  {% include 'frontend/_hero.html.twig' with {
  'icon': hero.icon,
  'icon_alt': hero.icon_alt,
  'header': hero.header
  } %}
  <section class="block light block-feature text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-0">About the Ontology</h2>
          <p>Lipsum</p>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center">
    {% if currentPath == category_path('behavioural science') %}
      <section class="behaviour-diagram" id="diagram">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-md-3 text-center diagram-info">
              <img src="{{ asset('bundles/app/images/bsicon-info.svg') }}" alt="Info info - lower case 'i'" class="info-icon" />
              <p>
                {{ 'behavioural_science.info'|trans }}
              </p>
              <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
                Explain Diagram
              </a>
            </div>
            <div class="col-md-6 triangle">
              {% include 'frontend/_triangle.html.twig' %}
            </div>
            <div class="col-md-3 text-center diagram-explain">
              <div class="inline-block">
                <p>What to know more about this diagram?</p>
                <a href="{{ path('behavioural_science_explain') }}" class="btn btn-block btn-explain">
                  Explain Diagram
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
    <div class="row hidden-md hidden-lg">
      <div class="col-xs-12">
        <a class="btn-filter-toggle collapsed" role="button" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-left">
                Filter Resources (<span id="filter-count">0</span> selected)
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="collapse filter-collapse" id="filterCollapse">
      <div class="filter-row">
        <div class="container">
          <form class="row" method="POST" id="filter-form">
            <div class="col-xs-12">
              <div class="form-group col-xs-12 col-md-4">
                <label class="text-right filter-label">
                  <span>Category</span>
                </label>
                <select name="category[]" class="selectpicker filter" id="category-select" data-live-search="true" multiple data-selected-text-format="count > 0" title="Select Categories">
                  {% for option in filter.categories %}
                    <option value="{{ option.value }}">{{ option.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-xs-12 col-md-4">
                <label class="text-right filter-label">
                  <span>Types</span>
                </label>
                <select name="type[]" class="selectpicker filter" id="type-select" data-live-search="true" multiple data-selected-text-format="count > 1" title="Select Types">
                  {% for option in filter.types %}
                    <option value="{{ option.value }}">{{ option.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-xs-12 col-md-4">
                <label class="text-right filter-label">
                  <span>Sort by</span>
                </label>
                <select name="sortdate" class="selectpicker order" id="order-select">
                  <option value="desc" selected="selected">Date (New to Old)</option>
                  <option value="asc">Date (Old to New)</option>
                </select>
              </div>
            </div>
            <input type="hidden" name="req" value="list" />
          </form>
        </div>
      </div>
    </div>
    {% if not resources|length %}
      <div class="row text-left resource">
        <div class="col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h3>No resources found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="resources-list" id="resources-list">
        {% include 'frontend/_resourceList.html.twig' %}
      </div>
    {% endif %}
  </section>
{% endblock %}
