{% extends 'layout.html.twig' %}
{% block body %}
<section class="slider slider-4">
 <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm-8 pad-0">
            <h2>
                <span>Grant Holders and Project Team</span>
                <img class="hidden visible-xs" src="{{ asset('bundles/app/images/white.png') }}" alt="mob-home">
            </h2>
            <p>Some text will go here relating to the Grant Holders and Project Team. Maybe explaining the difference between the two and the fact the Project Team seem to be know as investigators.</p>
             </div>
        </div>
    </div>
</section>
<section class="project-team-section light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 team-member">
                    
                    <img src="{{ asset('bundles/app/images/team-susan.png') }}" alt="team-susan">
                
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 member-detail">
                <h2>Professor Susan Michie, UCL</h2>
                <p class="sub-heading">Principal Investigator</p>
                <span>Visit Website</span>
                <p>Susan Michie is Professor of Health Psychology and Director of the Centre for Behaviour Change at UCL. Susan's research focuses on developing the science...</p>
                 <p class="read-1 slid">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
                <button class="read-more r-1">read more</button>
            </div>
        </div>
    </div>
</section>
<section class="project-team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 team-member">
                    
                    <img src="{{ asset('bundles/app/images/team-john.png') }}" alt="team-john">
                
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 member-detail">
                <h2>Professor John Shawe-Taylor (UCL)</h2>
                <p class="sub-heading">Co-Investigator</p>
                <span>Visit Website</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
                 <p class="read-2 slid">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
               <button class="read-more r-2">read more</button>
            </div>
        </div>
    </div>
</section>
<section class="project-team-section light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 team-member">
                    
                    <img src="{{ asset('bundles/app/images/team-marie.png') }}" alt="team-marie">
                
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12  member-detail">
                <h2>Professor Marie Johnston (University of Aberdeen)</h2>
                <p class="sub-heading ">Co-Investigator</p>
                <span>Visit Website</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
                 <p class="read-3 slid">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
                <button class="read-more r-3">read more</button>
            </div>
        </div>
    </div>
</section>
<section class="project-team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 team-member">
                    
                    <img src="{{ asset('bundles/app/images/team-pol.png') }}" alt="team-pol">
                
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 member-detail">
                <h2>Pol Mac Aonghusa (IBM Research Lab, Dublin)</h2>
                <p class="sub-heading">Co-Investigator</p>
                <span>Visit Website</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
                <p class="read-4 slid">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis..</p>
                <button class="read-more r-4">read more</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
