{% extends 'adminlayout.html.twig' %}
{% block body %}
<div class="page-wrapper">
   <div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Category</h6>
								</div>

								<div class="pull-right">
									<a href="{{ url('homepage') }}admin/cat/create"><button type="button" class="btn btn-success">Create a Category </button></a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
											<table id="datable_1" class="table table-hover display  pb-30" >
										<thead>
										<tr>
										<th>S.No</th>
									    <th>Category Name</th>
									    <th>Parent Category</th>
										<th>Created</th>
										<th>Modified</th>
										<th>Actions</th>
										</tr>
										</thead>
										<tfoot>
										<tr>
										<th>S.No</th>
										<th>Category Name</th>
										<th>Parent Category</th>
									      <th>Created</th>
												<th>Modified</th>
						    					<th>Actions</th>
													</tr>
												</tfoot>
												<tbody>
                                                  {% set myVal = 1 %}
                                                  {% set mycat = 0 %}
                           {% set catcount = topcats | length %}
                           {% set heirchycount =  catsheirchy| length  %}
                                        {% for catdata in catdatas %}
										<tr>
										<td>{{ myVal }}</td>
										<td>{{ catdata.name }}</td>
										
										<td>
                                        {% if catcount > 0%}
										{{ topcats[mycat] }}  {%endif%}</td>
										<td>{{ catdata.createdTime |date("d/m/Y") }} </td>
										<td>{{ catdata.updatedTime | date("d/m/Y")  }}</td>
										<td><a class="confirmation" href ="{{ url('homepage') }}admin/cat/delete/{{catdata.id}}"><button class="btn btn-danger btn-icon-anim btn-circle">
                                             <i class="icon-trash"></i>
                                                        </button></a>
                                                        <a href="{{ url('homepage') }}admin/cat/edit/{{catdata.id}}">
                                        <button class="btn btn-warning btn-icon-anim btn-circle">
                                         <i class="fa fa-pencil"></i>
                                         </button></a>
                                                        </td>
										</tr>
													 {% set myVal = myVal + 1 %}
                                                     {% set mycat = mycat + 1 %}

													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<!-- /Row -->
				 {% endblock %}